{% layout 'default' %}

<form
    class="form form--publishing publishing-form publishing-form--like-of"
    action="/publish/create/"
    enctype="{{ user.preferences.formEncoding }}"
    method="post"
>
    {% include 'form/date-time' %}

    <fieldset class="publishing-form__content">
        <legend>Content&nbsp;</legend>

        <div class="form__field-group">
            <label for="form-field-group__slug">Slug:</label>
            <p
                class="form-field-group__description"
                id="form-field-group__description--slug"
            >Write a slug if your Micropub server supports it. In case of a collision, the server may choose to modify the slug. If you leave this empty, it may choose to generate a random string. If your server does not support this, you can safely ignore it.</p>
            <input
                type="text"
                id="form-field-group__slug"
                name="mp-slug"
                aria-describedby="form-field-group__description--slug"
            />

        </div>

        <div class="form__field-group form__field-group--like-of form-field-group">
             <label for="form-field-group__like-of">URL of the page you like:</label>
             <p
                class="form-field-group__description"
                id="form-field-group__description--like-of"
            >The permalink of the post/page you want to like.</p>
            <input
                type="url"
                class="form-field-group__url"
                id="form-field-group__like-of"
                name="u-like-of"
                aria-describedby="form-field-group__description--like-of"
            />
        </div>

        {% comment %} <div class="form__field-group form__field-group--content"></div> {% endcomment %}
    </fieldset>

    {% include 'form/syndicate-to' %}

    <input type="hidden" name="h" value="entry">

    <button
        type="submit"
        class="publishing-form__button publishing-form__button--submit"
    >Like
    </button>

</form>

