{% layout 'default' %}

<form
    class="form form--publishing publishing-form publishing-form--like-of"
    action="/publish/create/"
    enctype="{{ user.preferences.formEncoding }}"
    method="post"
>
    {% include 'form/date-time' %}

    <fieldset class="publishing-form__content">
        <legend>Content&nbsp;</legend>

        {% include 'form/mp-slug' %}

        <div class="field-group field-group--like-of">
             <label for="field-group__like-of">URL of the page you like:</label>
             <p
                class="field-group__description"
                id="field-group__description--like-of"
            >The permalink of the post/page you want to like.</p>
            <input
                type="url"
                class="field-group__url"
                id="field-group__like-of"
                name="u-like-of"
                aria-describedby="field-group__description--like-of"
            />
        </div>

    </fieldset>

    {% include 'form/syndicate-to' %}

    <input type="hidden" name="h" value="entry">

    <button
        type="submit"
        class="publishing-form__button publishing-form__button--submit"
    >Like
    </button>

</form>

