{% layout 'default' %}

<form
    class="form form--publishing publishing-form publishing-form--note"
    action="/publish/create/"
    enctype="{{ user.preferences.formEncoding }}"
    method="post"
>
    {% include 'form/date-time' %}

    <fieldset class="publishing-form__content">
        <legend>Your content&nbsp;</legend>

        {% include 'form/mp-slug' %}

        {% include 'form/content' %}
    </fieldset>
    
    {% include 'form/syndicate-to' %}

    <input type="hidden" name="h" value="entry">

    <button type="submit" class="publishing-form__button publishing-form__button--submit">Create note</button>

</form>

