{% layout 'default' %}

<form
    class="form form--publishing publishing-form publishing-form--in-reply-to"
    action="/publish/create/"
    enctype="{{ user.preferences.formEncoding }}"
    method="post"
>
    {% include 'form/date-time' %}

    <fieldset class="publishing-form__content">
        <legend>Content&nbsp;</legend>

        <div class="form__field-group">
            <label for="form-field-group__slug">Slug:</label>
            <p
                class="form-field-group__description"
                id="form-field-group__description--slug"
            >Write a slug if your Micropub server supports it. In case of a collision, the server may choose to modify the slug. If you leave this empty, it may choose to generate a random string. If your server does not support this, you can safely ignore it.</p>
            <input
                type="text"
                id="form-field-group__slug"
                name="mp-slug"
                aria-describedby="form-field-group__description--slug"
            />

        </div>

        <div class="form__field-group form__field-group--in-reply-to form-field-group">
             <label for="form-field-group__in-reply-to">URL of the page you are replying to:</label>
             <p
                class="form-field-group__description"
                id="form-field-group__description--in-reply-to"
            >The permalink of the post/page you want to reply to.</p>
            <input
                type="url"
                class="form-field-group__url"
                id="form-field-group__in-reply-to"
                name="in-reply-to"
                aria-describedby="form-field-group__description--in-reply-to"
            />
        </div>

        {% comment %} <div class="form__field-group form__field-group--context">
            <label for="context">Context:</label>
            <p
                class="form-field-group__description"
                id="form-field-group__description--context"
            >Are you quoting the original author? If so, paste the quoted text here. You may write markdown depending on how the data sent by the Micropub server to your website is processed. It may also be possible that your Micropub server sends formatted content to your website. Please consult your server documentation.</p>

            <textarea
                name="context"
                id="context"
                cols="30"
                rows="8"
                aria-describedby="form-field-group__description--context"
                ></textarea>
        </div> {% endcomment %}

        <div class="form__field-group form__field-group--content"></div>
    </fieldset>

    {% include 'form/syndicate-to' %}

    <input type="hidden" name="h" value="entry">

    <button
        type="submit"
        class="publishing-form__button publishing-form__button--submit"
    >Reply
    </button>

</form>

