{% layout 'default' %}

<form
    class="form form--publishing publishing-form publishing-form--repost-of"
    action="/publish/create/"
    enctype="{{ user.preferences.formEncoding }}"
    method="post"
>
    <fieldset class="publishing-form__content">
        <legend>Content&nbsp;</legend>

        {% include 'form/mp-slug' %}

        <div class="field-group field-group--repost-of">
             <label for="field-group__repost-of">URL of the page you like:</label>
             <p
                class="field-group__description"
                id="field-group__description--repost-of"
            >The permalink of the post/page you want to repost.</p>
            <input
                type="url"
                class="field-group__url"
                id="field-group__repost-of"
                name="u-repost-of"
                aria-describedby="field-group__description--repost-of"
            />
        </div>

    </fieldset>

    <section class="publishing-form__sidebar">
        {% include 'form/date-time' %}
        
        {% include 'form/categories' %}    

        {% include 'form/syndicate-to' %}
    </section>

    <input type="hidden" name="h" value="entry">

    <button
        type="submit"
        class="publishing-form__button publishing-form__button--submit"
    >Repost
    </button>

</form>

