{% layout 'default' %}

<form
    class="form form--publishing publishing-form publishing-form--rsvp"
    action="/publish/create/"
    enctype="{{ user.preferences.formEncoding }}"
    method="post"
>
    {% include 'form/date-time' %}

    <fieldset class="publishing-form__content">
        <legend>Content&nbsp;</legend>

        <div class="field-group">
            <label for="field-group__slug">Slug:</label>
            <p
                class="field-group__description"
                id="field-group__description--slug"
            >Write a slug if your Micropub server supports it. In case of a collision, the server may choose to modify the slug. If you leave this empty, it may choose to generate a random string. If your server does not support this, you can safely ignore it.</p>
            <input
                type="text"
                id="field-group__slug"
                name="mp-slug"
                aria-describedby="field-group__description--slug"
            />

        </div>

        <div class="field-group field-group--in-reply-to">
             <label for="field-group__in-reply-to">URL of the event</label>
             <p
                class="field-group__description"
                id="field-group__description--in-reply-to"
            >The permalink of the event you want to RSVP to. This would be the page carrying the <a href="http://microformats.org/wiki/h-event" rel="noopener noreferrer" target="_blank">h-event</a> markup.</p>
            <input
                type="url"
                class="field-group__url"
                id="field-group__in-reply-to"
                name="u-in-reply-to"
                aria-describedby="field-group__description--in-reply-to"
            />
        </div>
        {% comment %} TODO It could be a good idea to fetch event details on the front-end here as the user will get a chance to think about whether they really want to RSVP and if so, which option suits them best. {% endcomment %}

        <div class="field-group field-group--rsvp field-group">
             <label for="field-group__rsvp">RSVP</label>
             <p
                class="field-group__description"
                id="field-group__description--rsvp"
            ></p>
            <select
                class="field-group__rsvp"
                id="field-group__rsvp"
                name="p-rsvp"
                aria-describedby="field-group__description--rsvp"
            >
                <option value="interested" selected>Interested</option>
                <option value="maybe">Maybe</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        
    </fieldset>

    {% include 'form/syndicate-to' %}

    <input type="hidden" name="h" value="entry">

    <button
        type="submit"
        class="publishing-form__button publishing-form__button--submit"
    >Reply
    </button>

</form>

