# Docker
/docker-compose.yml
.env*

# Development
node_modules
*.log
.tsbuildinfo

# Express app dirs and files
/config
/middleware
/routes
/enumerator
/interface
/lib
index.js

# Frontend output
/assets