# Docker
/docker-compose.yml
.env*

# Development
node_modules
*.log
.tsbuildinfo
src/coverage
!coverage-final.json
conf/redis.conf

# Express app dirs and files
/config
/middleware
/routes
/enumerator
/interface
/lib
index.js

# Frontend output
/assets