<section class="publishing-form__categories">
        <fieldset class="fieldset--category">
            <legend>Categories</legend>
            <div class="field-group field-group--category">
                <label for="field-group__category">Add a category:</label>
                <p
                    class="field-group__description"
                    id="field-group__description--category"
                >
                    We may be able to suggest previously input categories if your server supports this feature. To add fresh/new categories, write a category and follow it with no spaces and a comma; the input box will clear itself and add the category to our list.
                </p>
            </div>
        </fieldset>
</section>