<section class="publishing-form__metadata">
    <fieldset class="fieldset--category">
        <legend>Post Metadata</legend>

        <div class="field-group field-group--category">
            <label for="field-group__category">Categories:</label>
            <p
                class="field-group__description"
                id="field-group__description--category"
            >
                Add categories to your post. We may be able to suggest some if your
                server supports categories feature.
            </p>
        </div>

    </fieldset>
</section>