/* Undo Sakrua */
form {
	& fieldset {
		font-weight: normal;
	}

	/* & input,
	& textarea {
	
	} */
}

.form {
	& input,
	& textarea {
		/* Undo Sakura */
		margin: unset;

		font-family: var(--sans-serif-family);
		font-size: 1.6rem;

		&[type="checkbox"] {
			padding: unset;
			margin-bottom: unset;
		}

		@media (--dm) {
			background: var(--gray-800);
		}
	}

	& fieldset {
		border: none;
		border-top: 1px solid var(--gray-300);
		margin-bottom: 2.4rem;
		padding-left: 2.4rem;
		padding-top: 1.2rem;

		@media (--dm) {
			border-top-color: var(--gray-800);
		}

		& legend {
			color: var(--brand-base);
			font-size: 1.4rem;
			font-weight: bold;
			margin-left: -2.4rem;
			padding-top: unset;
			text-transform: uppercase;
		}
	}

	& label {
		font-size: 1.4rem;
		/* Undo Sakura */
		margin-bottom: unset;
	}

	& p.form__aria-descriptionto,
	& p.form__fieldset-description,
	& p.form-field-group__description {
		color: var(--gray-600);
		font-size: 1.4rem;
		font-weight: normal;
		margin-bottom: 1em;
	}
}

.form__field-group {
	margin-bottom: 2.4em;;
}

.publishing-form__character-count {
	color: var(--brand-base);
	font-size: 1.4rem;
	margin-bottom: 0.25em;
	text-align: right;
}

.publishing-form__syndication-targets {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.publishing-form__syndication-target {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;

	& label {
		order: 1;
	}
}

.publishing-form__when {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.publishing-form__when--part {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;

	@media (--lg) {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* .publishing-form__button {} */

.publishing-form__button--submit {
	width: max-content;
}

.publishing-form--note {
	@media (--lg) {
		display: grid;
		gap: 0.6em;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto auto auto;
	}

	@media (--xl) {
		grid-template-columns: 7fr 3fr;
	}

	& .publishing-form__content {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}

	& .publishing-form__syndication-targets {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	& .publishing-form__when {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
	}

	& .publishing-form__button--submit {
		@media (--lg) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}
}

.publishing-form--in-reply-to {
	@media (--lg) {
		display: grid;
		gap: 0.6em;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto auto auto auto;
	}

	@media (--xl) {
		grid-template-columns: 7fr 3fr;
	}

	& .publishing-form__content--ours {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	& .publishing-form__content--theirs {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
		}
	}

	& .publishing-form__syndication-targets {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	& .publishing-form__when {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
	}

	& .publishing-form__button--submit {
		@media (--lg) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}
}

.publishing-form--like-of,
.publishing-form--repost-of,
.publishing-form--article,
.publishing-form--rsvp {
	@media (--lg) {
		display: grid;
		gap: 0.6em;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto auto auto;
	}

	@media (--xl) {
		grid-template-columns: 7fr 3fr;
	}

	& .publishing-form__content {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}

	& .publishing-form__syndication-targets {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	& .publishing-form__when {
		@media (--lg) {
			/* Grid item properties */
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
	}

	& .publishing-form__button--submit {
		@media (--lg) {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}
}