body {
    /* Undo Sakura */
    max-width: unset;
    margin: 0 auto;
    padding: unset;

    /* Overwrite Sakura */
    font-size: 1.7rem;
    line-height: 1.6;

    /* Our styling */
    display: flex;
    flex-direction: column;
    
    @media (--lg) {
        display: grid;
        grid-template-columns: 20% 1fr 6fr 20%;
        grid-template-rows: auto 1fr auto;
        column-gap: 1em;
        row-gap: 1em;
        
        /* So that main spans all remaining space */
        min-height: 100vh;
    }

    @media(--xl) {
        grid-template-columns: 16% 1fr 7fr 16%;
    }


    & > header {
        background: var(--background);
        padding: 1.8em 2.4em;

        @media (--lg) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    & > nav {
        padding: 12px 6px;

        @media (--lg) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            text-align: right;
        }
    }

    & > main {
        background: var(--background);
        padding: 1.8em 2.4em;
        margin-bottom: 2.4em;

        @media (--lg) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }

    & > footer {
        margin-left: 0.6em;
        margin-right: 0.6em;

        @media (--lg) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;

            margin-left: unset;
            margin-right: unset;
        }

        & p {
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 2em;
            }
        }
    }
}