    <footer>
        <p>&copy; <a href="https://rusingh.com/">Ru Singh</a></p>
        <p>{{ title }} <a href="https://github.com/hirusi/Celestial/tree/v{{version}}">v{{ version }}</a></p>
    </footer>

</html>